/* fonts */
.inter-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

@font-face {
  font-family: "Miama Nueva";
  src: url("https://db.onlinewebfonts.com/t/be6f31338eebea6cc5467e978fe98ea1.eot");
  src: url("https://db.onlinewebfonts.com/t/be6f31338eebea6cc5467e978fe98ea1.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/be6f31338eebea6cc5467e978fe98ea1.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/be6f31338eebea6cc5467e978fe98ea1.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/be6f31338eebea6cc5467e978fe98ea1.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/be6f31338eebea6cc5467e978fe98ea1.svg#Miama Nueva")format("svg");
}
.mia{
  font-family: "Miama Nueva";
  font-weight: none;
}
/* Shared styles */
.display-flex {
  display: flex;
}

.bg-color {
  background-color: rgba(17, 17, 17, 1);
}

.org-color {
  color: rgba(230, 83, 60, 1);
}

.text-white {
  color: #FFFFFF;
}

.btn-primary {

  width: 224px;
  height: 54px;
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
  background-color: #E6533C;
  border-radius: 42px;
  border: none;
  margin-right: 20px;

}
.btn-primary-run {

  width: 224px;
  height: 54px;
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
  background-color: #E6533C;
  border-radius: 42px;
  border: none;
  margin-right: 20px;

}

.btn-sec {

  width: 224px;
  height: 54px;
  font-size: 18px;
  font-weight: 600;
  background-color: rgba(26, 19, 19, 0);
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 42px;


}

body {
  background-color: black;
}

/* navbar related styles */

.navbar {
  justify-content: space-between;
  align-items: center;
  
}

.nav-links {

  font-weight: 500px;
  font-size: 18px;
  padding: 12px 0;
  border: 1px solid #ffffffc2;
  border-radius: 39px;
  gap: 47px;
  margin-right: 190px;

}

.nav-item {
  margin-right: 30px;
  list-style: none;

}
.nav-link{
  text-decoration: none;
  font-weight: 500;
}

.home-style {
  background-color: rgba(230, 83, 60, 1);
  padding: 10px 25px;
  margin-left: 3px;
  border: 1px solid black;
  border-radius: 39px;
  border: none;


}
.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}

.fit {
  margin-left: 190PX;
  font-size: 36px;
  font-weight: 800;
  color: #E6533C;
}
.menu-bar{
  display: none;
}
.cross{
  display: none;
}

main{
  max-width: 1440px;
  margin: 0 auto;
}

main > section{
  margin-top: 130px;
}

/* banner-style */
.banner {
  justify-content: space-between;
  align-items: center;

}

.banner-content {
  
  margin-left: 190px;
  margin-right: 190px;
  padding-bottom: 38px;

}

.banner-title {
  width: 520px;
  height: 282px;
  font-size: 78px;
  color: #FFFFFF;


}

.banner-description {
  color: gray;
  width: 505px;
  height: 60px;
  font-weight: 500;
  font-size: 16;
}

.image-banner {
  margin-left: 200px;
  width: 349px;
  height: 580px;
}

#tutorial-badge {
  position: absolute;
  padding: 20px 23px 20px 75px;
  font-size: 1rem;
  color: #ffffff7c;
  margin-top: -165px;
  margin-left: 105px;
  border-radius: 12px;
  border: 0.5px solid rgba(128, 128, 128, 0.452);
  background-color: rgba(63, 61, 61, 0.39);
  backdrop-filter: blur(8px);
}

.ball {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #E6533C;
  border-radius: 50%;
  margin-top: -140px;
  margin-left: 120px;

}

#tutorial-badge-2 {
  position: absolute;
  padding: 17px 75px 18px 24px;
  font-size: 1rem;
  color: #ffffff71;
  margin-top: -450px;
  margin-left: 430px;
  border-radius: 12px;
  border: 0.5px solid rgba(128, 128, 128, 0.452);
  background-color: rgba(63, 61, 61, 0.39);
  backdrop-filter: blur(8px);
}

#video-tutorial {
  font-size: 24px;
  font-weight: 700;
  color: #FFFFFF;
}

#video-tutorial-2 {
  font-size: 40px;
  font-weight: 700;
  color: #FFFFFF;
}

/* main section change your habits */

.section-items {
  text-align: center;
  
}

.section-title {
  text-align: center;
  color: #FFFFFF;
  font-size: 55px;
  font-weight: 800;
  margin-bottom: 10px;
 

}

.section-description {
  justify-content: center;
  text-align: center;
  color: gray;
}

.section-img {

  border: 5px solid rgba(36, 33, 33, 0.616);
  border-radius: 50%;
}

.image-section {
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 100px;
  gap: 50px;
}

.img-title {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: none;

}

.img-description {
  color: gray;
  font-size: 16px;

}

/* Run an Extra Mile section style */
.r{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.Run {
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: rgba(17, 17, 17, 1);
  width: 1060px;
  height: 371;
  border-radius: 18px;
  padding: 40px;
  margin-bottom: 100px;
}

.run-container {
  align-items: start;


  text-align: start;
  margin-left: 0;
  margin-right: 105px;
  color: #FFFFFF;
}


.run-image {
  
  justify-content: space-between;
  width: 366px;
  height: 312px;
  border: 1px solid rgba(36, 33, 33, 0.616);
  border-radius: 18px;
  margin-left: 165px;

}
.section-title-run{
  text-align: start;
  color: #FFFFFF;
  font-size: 55px;
  font-weight: 800;
  margin-bottom: 10px;
 

}
.run-description {
  text-align: start;
  color: gray;
  margin-top: 0;
}


/* trainning and exercises section */

.t{
  
  display: flex;
  justify-content: ;
  align-items: center;
}
.training-title {
  color: #FFFFFF;
  font-size: 55px;
  font-weight: 700;
  max-width: 1920px;
  margin: 0 auto;
}

.training-description {
  justify-content: center;
  color: gray;
  margin-left: 190px;
  max-width: 1920px;
  margin: 0 auto;
  
}

.tranning{
  
  
  display: flex;
  justify-content: center;
  align-items: start;
}

.image-collage{
  width: 1060px;
  height: 403px;
  margin: 0; 
}
.row {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  


}
.training-description{
  margin-bottom: 50px;
}
.image-1{
 
  width: 323px;
  height: 218px;

}
.image-2{
  
    width: 539px;
    height: 218px;
    
}
.image-3{
  width: 358px;
  height: 220px;
  
}
.image-4{
  width: 435px;
  height: 240px;
}
.image-5{
  width: 408px;
  height: 240px;
  
}
.image-6{
  width: 376px;
  height: 240px;
  
  
}
/* BMI calculator style */
.table-form{
  margin: 0 auto;
  margin-top: 200px;
  width: 1440px;
  
  
}

.BMI-title {
  color: #FFFFFF;
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-left: 450px;
}
.table-header{
  color: #FFFFFF;
  font-size: 28px;
  font-weight: none;
  margin: 50px auto;
  
}
.BMI-description {
  color: gray;
  margin-left: 450px;
  font-size: 14px;
}



table {
  border-collapse: collapse;
  font-size: 30px;
  
  
}

th {
  border: 1px solid rgb(37, 35, 35);
  padding: 5px 10px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: none;
  padding: px;
}

td{
  border: 1px solid rgb(37, 35, 35);
  padding: 5px 10px;
  color: gray;
  font-weight: none;
  padding: 10px 0 15px 18px;
  font-size: 14px;
  
  

}
.table-t{
  width: 310px;
  height: 216px;
}

.table-content{
  width: 310px;
  height: 216px;
  margin-left: 190px;
  


}

/* form-section */
.form-section{
  margin-top: 0px;
  margin-left: 175px;
}
.form-header{
  color: #FFFFFF;
  font-size: 28px;
  font-weight: none;
  margin-bottom: 0px;
  
}

.form-description{
  text-align: start;
  color: gray;
  font-size: 14px;
}
.form{
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  font-size: 30px;
  
  
  
}
.f-bg-color{
  background-color: rgba(255, 255, 255, 0.1);
}
.from-content{
  width: 577px;
  height: 168px;
  margin: 0;
  
  
}
input{
  width: 250px;
  height: 35px;
  border-radius: 8px;
  border: none;
  margin: 5px 2.5px;

  
  
  
}
.form-4{
  width: 255px;
  height: 37px;
  border: none;
  border-radius: 8px;
  margin: 5px 2.5px;
  color: gray;
  
}
.from-5{
  width: 523px;
  height: 38px;
  border: none;
  border-radius: 8px;
  margin: 5px 2.5px;
  color: gray;
  
}

.bmi-btn{
  margin-bottom: 52px;
}
/* meet our team */


.meet-section {
  
  justify-content: center;
  align-items: center;

}

.team-title{
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  font-size: 55px;
  font-weight: 800;
  margin-bottom: 10px;

}
.team-description{
  justify-content: center;
  text-align: center;
  color: gray;
  margin-bottom: 58px;
  font-size: 14px;
}
.team-image{

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  width: 1060px;
  height: 604px;
  background-color: rgba(17, 17, 17, 1);
  border-radius: 18px;
  padding-left: 25px;
  

}
.img-t{
  justify-content: center;
  align-items: center;
}

.images-t{
  width: 326px;
  height: 272px;
  border-radius: 18px;

}


/* footer section */

.footer-section{
  width: 1440px;
  
  margin: 0 auto; 
}
.footer-container{
  justify-content: space-between;
  margin-top: 100px;
  padding-top: 0px;
  

}

.footer-1{
  margin: 0px 102px 0px 190px;
  
}
.footer-head{
   color: #E6533C;
   font-size: 70px;
   font-weight: bolder;
   margin-top: 66px; 
   margin-bottom: 20px; 
}
.footer-description{
  color: gray;
  font-size: 14px;
  margin-top: 10px;
}
.footer-2{
  text-decoration: none;
  font-size: 23x;
  color: #FFFFFF;
  margin-right: 190px;
  margin-bottom: 100px;
  margin-top: 40PX;
}

.item{
  text-decoration: none;
  list-style: none;
  margin: 15px;

  
}

.link{
  text-decoration: none;
  color: gray;
}
.footer-2-head{
  width: 181px;
  height: 38px;
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 700;
  margin-left: 50px;
  margin-bottom: 0px;

}
.all-right{
  justify-content: center;
  text-align: center;
  color: gray;
  text-align: end;
  padding: 50px;
  font-size: 25px;
  border-top: 2px solid gray;
  margin: 0 190px; 
}

.hide{
  display: none;
}

/* responsive media query */
@media screen and (max-width: 576px) {

  .banner-content{
    
      flex-direction: column;
      align-items: center;
      margin: 0px;
      
  }

  .btn-primary {

    width: 170px;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #E6533C;
    border-radius: 42px;
    border: none;
    margin-right: 5px;
  
  }
  
  .btn-sec {
  
    width: 170px;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgba(26, 19, 19, 0);
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 42px;
  
  
  }

  .btn-mobile{
    display: flex;
    align-items: center;
    margin-right: 30px;
  }
  .banner-profile{
    width: 353px;
    height: 542px;
    margin-right: 400px;
    margin-top: 48px;
    
  }

  .banner-title {
    width: 285px;
    height: 129px;
    font-size: 36px;
    color: #FFFFFF;
  
  
  }
  .banner-description {
    color: gray;
    width: 270px;
    height: 95px;
    font-weight: 500;
    font-size: 16;

}
#tutorial-badge {
  position: absolute;
  padding: 20px 23px 20px 50px;
  font-size: 1rem;
  color: #ffffff7c;
  margin-top: -344px;
  margin-left: 200px;
  border-radius: 12px;
  border: 0.5px solid rgba(128, 128, 128, 0.452);
  background-color: rgba(63, 61, 61, 0.39);
  backdrop-filter: blur(8px);
}

.ball {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #E6533C;
  border-radius: 50%;
  margin-top: -320px;
  margin-left: 210px;

}

#tutorial-badge-2 {
  position: absolute;
  padding: 10px 30px 10px 24px;
  font-size: 1rem;
  color: #ffffff71;
  margin-top: -520px;
  margin-left: 390px;
  border-radius: 12px;
  border: 0.5px solid rgba(128, 128, 128, 0.452);
  background-color: rgba(63, 61, 61, 0.39);
  backdrop-filter: blur(8px);
}


/* habit section media quiry  */

.habit{
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.habit-container{

  max-width: 318px;
  height: 124px;
  margin-left: 20px;
  
}
.image-section{
  flex-direction: column;
  width: 338px;
  height: 1216px;
  padding-top: 40px;

}

.section-title {
  
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 700;
  justify-content: center;
  text-align: center;
  align-items: center;
  
  
  

}

.section-description {
  
  
  color: gray;
  font-size: 14;
}

main > section {
  margin-top: 50px;
}

/* run section */
.Run{
  flex-direction: column;
  margin-top: 1400px;
}
.Run {
  
  align-items: center;
  width: 338px;
  height: 531px;
  border: none;
  border-radius: 18px;

  
 
}
.run-container{
  width: 287px;
  height: 264px;
  background-color: rgba(17, 17, 17, 1);
  margin-right: 0px;
  margin-left: 0px;
}

.run-image{
  justify-content: space-between;
  
  width: 287px;
  height: 179px;
  border: 1px solid rgba(36, 33, 33, 0.616);
  border-radius: 18px;
  margin: 33px ;
  margin-top: 70px;
  
  

}

.section-title-run {
  
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 700;
  align-items: center;
  
  

}

.section-description-run {
  
  
  color: gray;
  font-size: 14;
}

.btn-primary-run {

  width: 287px;
  height: 54px;
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
  background-color: #E6533C;
  border-radius: 42px;
  border: none;
  margin-top: 13px;
  

}

}
/* medium size device */
